<!-- index.ejs -->
<html>
  <head>
     <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
  </head>
  <body>
    <div class="title">The message</div>
    <div class="message">
        <div class="user">User: <%= message.user %></div>
        <div class="text">Text: <%= message.text %></div>
        <div class="date">Date: <%= message.added %></div>
        <div class="link"><a href="/">Back</a></div>
    </div>

  </body>
</html>