* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  background: rgba(128, 128, 128, 0.315);
  padding: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;

}

.messages {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(4, 200px) ;
  gap: 20px;
}

.message {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.inputContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}